[Unit]
Description=Daily RISH Selectel certificates synchronization

[Timer]
OnCalendar=*-*-* 03:00:00
RandomizedDelaySec=1h
Persistent=true
Unit=rish-selectel-certificates-sync.service

[Install]
WantedBy=timers.target
